{% extends 'base.html' %}
{% block title %} Привет, {{current_user.username}}! {% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>Привет, {{current_user.username}}!</h1>
      <div class="col-12 col-lg-7 my-5">
          <p> Email: {{ current_user.email }} </p>
          <p> Дата регистрации: {{ current_user.created_on }}</p><br>
          <br><h5> Твоя активность за 2 месяца: </h5><br>
  <style>
   table {
    width: 150px; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
    border: 1px solid grey;
    height: 130px;
   }
   td, th {

    padding: 8px; /* Поля вокруг текста */
    border: 1px solid grey;
   }
  </style>
 </head>
 <body>
  <table>
      {% if statistics %}
      <tr>
        {% for st in statistics[::7]%}
           {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        {% for st in statistics[1::7]%}
           {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        {% for st in statistics[2::7]%}
           {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        {% for st in statistics[3::7]%}
           {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        {% for st in statistics[4::7]%}
           {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      <tr>
        {% for st in statistics[5::7]%}
           {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
            <tr>
        {% for st in statistics[6::7]%}
            {% if st.solved > 7 %}
            <td BGCOLOR=48E548>{{st.solved}}</td>
            {% elif st.solved > 3 %}
            <td BGCOLOR=82ED82>{{st.solved}}</td>
            {% elif st.solved > 0 %}
            <td BGCOLOR=C5F7C5>{{st.solved}}</td>
          {%else%}
          <td>{{st.solved}}</td>
          {% endif %}
        {% endfor %}
      </tr>
            {% endif %}
  </table>
  <br><br>
      </div>
      <div class="col-12 col-lg-5">
        <img
          class="img-fluid mx-auto d-block"
          src="{{ url_for('static', filename='img/female_programmer.png') }}"
          alt=""
        />
      </div>
    </div>
  </section>
</main>
{% endblock %}