{% extends "base.html" %}
{% block title %} {{topic.name}} {%endblock %}
{% block content %}
<main>
    <section class="container my-5">
      <div class="row">
        <h1>{{topic.name}}</h1>
        <div class="col-12 col-lg-7 my-5">
            <h3>{{question.title}}</h3><br>
            <p>{{question.question}}</p>
            <a href="{{ url_for('answer_view', id = question.id) }}">
                Показать ответ
              </a>
        </div>
        <div class="col-12 col-lg-5">
          <img
            class="img-fluid mx-auto d-block"
            src="{{ url_for('static', filename='img/female_programmer.png') }}"
            alt=""
          />
        </div>
      </div>
    </section>
  </main>
  {% endblock %}